.users {
    margin: 2rem auto;
    padding: 0.5rem;
    width: 90%;
    max-width: 40rem;
}

.users ul{
    padding: 0.5rem;
}

.users li {
    width: 90%;
    padding: 0.3rem;
    margin: 0.3rem auto;
    border: 1px solid #ccc;
    list-style-type: none;
    text-align: center;
}